body{
	overflow:hidden;
	background-attachment:fixed;
	background-position:center center;
	min-height:120px;
	height:100%; 
	width:100%;  
	background:url("background.jpg")no-repeat;
	background-size: cover;
	margin:0; 
	padding:0;
	}

.main{
	width:100%; 
	height:100%;
	margin:0; 
	padding:0;
}
        
a{
	text-decoration:none;
}
.middle{
	text-align:center;
	width:100%; 
	height:100px;
	margin-top:100px;
}
			
.input{
	border: 1px solid #b6b6b6;
	width:350px;
	height:30px;
	font-size:20px;
        margin-top:150px;
}

.submit{
	background-color:#3385ff;
	height:50px;
	font-size:50px;
	color:white;
	border:0
}

.button{
        background-color: #555555
        color: #555555;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        border-radius: 8px;
}
